# Variables d'environnement des tests (copier en .env, ignoré par git ; en CI : variable group mini-banque-tests)
BASE_URL=http://localhost:5173
API_URL=http://localhost:8000
ALICE_PASSWORD=Alice123!
BOB_PASSWORD=Bob123!
CAROL_PASSWORD=Carol123!
